*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 750px;
    height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #e94143;
    color: #fff;
    position: relative;
}

h1 {
    font-size: 18rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -1rem;
}

h2 {
    font-size: 2.8rem;
    color: #ffad87;
}

p {
    font-size: 1.6rem;
}

#canvasMolecularZeroG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.2; */
}

/* Title */
.container__title {
    width: fit-content;
    align-self: center;
    margin-inline: auto;
}

.title {
    text-transform: uppercase;
    margin: 0;
    position: relative;
    /* text-shadow: 3px 3px 3px #ffad87, -1px -3px 1px #ffdbcb; */
}

.title::before {
    content: "New";
    position: absolute;
    right: 0;
    bottom: -20%;
    font-size: 4rem;
    letter-spacing: -1px;
    color: #ffad87;
}

/* Other content */
.container__less-sugar {
    position: absolute;
    right: -100px;
    bottom: 130px;
    transform: rotateZ(270deg);
}

.container__less-sugar h2 {
    margin: 0;
}

.container__less-sugar p {
    background-color: #ffad87;
    color: #e94143;
    font-weight: 700;
    padding-inline: 1rem;
    border-radius: 4px;
}

.container__product {
    position: absolute;
    left: 50%;
    top: 25%;
    text-align: center;
    transform: translate(-50%);
}

.container__product, .container__certifications, .container__less-sugar, .title::before {
    z-index: 1;
}

.container__product h2, .container__product p {
    margin: 0;
}

.container__certifications {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.container__certifications img {
    width: 60px;
    height: 60px;
    margin-block: 10px;
}

@media (max-width: 1000px) {
    .container__less-sugar {
        transform: rotateZ(0deg);
        right: 10px;
        bottom: 0;
    }

    .container__certifications {
        left: 10px;
        bottom: 10px;
        flex-direction: row;
    }
    .container__certifications img {
        margin-inline: 10px;
    }
}